.lightpurple {
  background-color: #9ab3f5;
}

.lightgrey {
  background-color: #f1f3f8;
}

.lightgreen {
  background-color: #e8ffff;
}

.lightorange {
  background-color: #ffe8d6;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 15px;
  height: 250px;
  box-shadow: 0 10px 15px rgb(162, 162, 162 / 10%);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.255, 1);
}

.card:hover {
  box-shadow: 0 10px 15px rgb(125, 125, 125 / 20%);
}

.card-icon-header {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 0;
  align-items: center;
  margin-left: 20px;
}

.icon-container {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.04);
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex: 1;
  justify-content: center;
}

.card-title h4 {
  text-transform: capitalize;
  color: #616161;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.card-total {
  display: flex;
  align-items: center;
}

.total {
  font-size: 33px;
}

.percent-wrapper {
  align-self: flex-start;
  margin: 5px 0 0 5px;
  color: #4abb4a;
}

span.percent {
  margin-left: 3px;
  font-style: 13px;
}

svg.icon {
  width: 30px;
  height: 30px;
  fill: rgb(61, 61, 61);
}

svg.icon-arrow-up{
  width: 10px;
  height: 10px;
  fill: currentColor;
}